/* reset */
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* general */
.texto-destacado {
    font-weight: 900;
}

.redireccion {
    color: black;
    text-decoration: none;
}

body {
    padding: 1em;
    background-color: black;
}

.pagina {
    width: 50%;
    max-width: 500px;
    min-width: 400px;
    margin: auto;
}

p, a, span, * {
    font-family: 'Roboto', sans-serif;
}

.efecto-autor:hover {
    color: darkgrey;
}

/* post header */
.post-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.7em;

    background-color: white;
}
.post-header-info {
    display: flex;
    gap: 0.7em;
    width: 100%;
}
.perfil-imagen {
    width: 45px;
    border: 1.5px solid white;
    border-radius: 50%;

    object-fit: cover;
    object-position: center;
}
.perfil-imagen:hover {
    border: 1.5px solid blue;
}
.post-header-info {
    display: flex;

    width: 100%;
}

/* post imagen */
.post-imagen {
    width: 100%;
    height: 100%;
    max-height: 500px;
    background: white;
}

.imagen {
    object-fit: cover;
    object-position: center;
    width: 100%;;
}

/* post contenido */
.post-contenido {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 0.5em;
    padding: 0.7em;
    background-color: white;
}

/* contenido opciones */
.contenido-opciones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 1.4rem;
}